@import "../../styles/variables.scss";

.return-home{

}

.portfolio-display {
    color:  $white;
    padding: 4rem;
    margin-top: 5rem;

    h1 {
        font-size: calc(2vw + 25px)
    }

}

.nft-header {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    padding: 1rem;
    border: 2px solid $visible-grey;
    h3 {
        font-size: 17px;
        font-weight: 400;
        margin: 0;
    }
}

.nft-row {
    padding: 1rem;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 2px solid $visible-grey;

    p{
        height: fit-content;
        margin: auto 0;
    }
}   

.p-container{
    height: fit-content;
    margin: auto 0;
}

.off-white{
    color: $dimmed-text-white;
}

.off-white2{
    color: rgb(185, 243, 255);
}

.updated-identifier {
    margin-left: 0;

    img{
        aspect-ratio: 1/1;
    }

    div {
        h3{
            color: $white !important;
        }
        p {
            width: 100%;
            text-align: left;
            color: $dimmed-text-white;
        }
    }
}

.trending-nfts{
    margin: 1rem 0 3rem 0;
    background-color: $darker-grey;
    min-height: 600px;
}

.trending-main{
    p{
        margin-bottom: 1rem;
    }
}

#first-h1{
    span{
        -webkit-background-clip: text;
        background-image: $text-gradient;
        color: transparent;
    }
}

@media (max-width: 730px){
    .optional-display{
        display: none;
    }

    .nft-header{
        grid-template-columns: 1fr 1fr;
    }
    .nft-row{
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-display{
        padding: .5rem;
    }
}