@import "variables.scss";

.first-banner {
  background-color: $bg-main;
  color: $white;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;

  ul {
    list-style: none;
    text-align: left;
  }
  
}

.trending {
  display: flex;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    text-align: left;

    h4 {
      color: rgb(149, 149, 149);
      font-size: 13px;
    }

    p {
      font-size: 12px;
    }

  }
}


.first-banner > * {
    margin-bottom: 2rem;
}