.join-banner{
    background: radial-gradient(circle, rgba(63,0,115,1) 0%, rgba(11,20,38,1) 50%);
    height: 180vh;
    width: 100%;
    position: relative;
}

.card {
    position: sticky;
    top: 55%;
    left: 100%;
    width: fit-content;
    transform: translateX(300px);
    transition: all 0.75s ease-in-out;

    img {
        width: 480px;
        border-radius: 10px;
    }
}

.card-translation{
    transform: translateX(20px);
    transition: all 0.75s ease-in-out;
}

.second-card{
    height: 100vh;
}