@import "./variables.scss";

.navbar { 
    height: 90px;
    background-color: $bg-deep;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(151, 151, 151, 0.685);

    img {
        height: 50px;
        width: auto;
    }

}