@media (max-width: 1000px){

    .card-translation{
        transform: translateX(150px);
    }

    .first-text{
        width:100%;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        background-color:  rgba(1, 1, 1, 0.7);
        padding: 2rem 0;
        align-self: center;
        margin-left: 0;
    }

    .left, .right{
        
        h3{
            font-size: 1rem;
            text-align: center;

            span{
                font-size: 2rem;
            }
        }
    }

    .second-card{
        width:100%;
        margin: 0 auto;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        background-color: rgba(1, 1, 1, 0.7);
        padding: 3rem 2rem
    }
}

@media (max-width: 600px){

    .main-text{

        h1{

            font-size: 6rem;

            span{
                right: -15px;
                bottom: 20px;
            }

            &::after{
                bottom: -35px;
            }
        }
    }

    .second-card{
        padding: 0;
    }

    #earning-button{
        width: 70%;
        margin: 0 auto;
        
        button{
            font-size: 1rem;
            white-space: nowrap;
            width: 200px;
            padding: 1rem 0;
        }
    }

    #arrow{
        transform: translate(5px, -2px);
    }

    .icons{

        div{

            img{
                width: 100px;
            }
        }
    }
}