@import "../../styles/variables.scss";

.footer {
    position: relative;
    z-index: 99;
    width: 100%;
    color: rgb(182, 182, 182);
    background-color: $bg-main;
    border-top: 1px solid rgb(124, 124, 124);
}

.image-store {
    display: flex;
    gap: 1rem;
    img {
        height: 45px;
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}

.legal {
    padding: 2rem;

    span {
        color: white;
        text-decoration: underline;
    }
}

.links {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 0 0;

    ul {
        list-style: none;
        display: flex;
        gap: .5rem;
        flex-direction: column;

        li {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                color: $white;
                margin-bottom: 1rem;
                cursor: auto;

                &:hover{
                    text-decoration: none;
                }
            }
        }

    }

}

.divider{
    background-color:$dimmed-white;
    width: 100%;
    height: 1px;
    margin: 2rem 0 2rem 0;
}

@media (max-width: 600px){
    .links {
        display: flex;
        padding: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        
        div {
            width: fit-content;
            margin-bottom: 3rem;
            flex: 0 0 50%;

            ul{
                width: fit-content;
                margin: 0 auto;
                align-items: center;

            }
        }
    }

    .copyright{
        flex-direction: column;
        gap: 2rem;
    }

    .legal{
        padding: .75rem;
        margin-top: 2rem;
    }

}