
@media(max-width: 960px){

    .coin-base{
        padding: 0;

        h2{
            margin: 1rem auto;
        }
    }
    .api-table{
        height: 720px;
        width: 850px;
        margin: 0 auto;
        overflow-x: scroll !important;
    }

    .row{
        width: 850px;
    }

    .heading{
    display: none;
    }
}

@media(max-width: 750px){
    .top-coins{
        flex-wrap: wrap;
        div{
            flex-basis: 50%;
        }
    }
}