@import "../../styles/variables.scss";

.navbar { 
    height: 70px;
    background-color: $bg-deep;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(151, 151, 151, 0.685);
    position: fixed;
    z-index: 999;
    top: 0;
}

.nav-container-mobile{
    display: none;
}

.nav-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    max-width: 1000px;

    img {
        cursor: pointer;
        height: 40px;
        width: auto;
    }

    ul{
        color: $white;
        list-style: none;
        display: flex;
        gap: 4rem;
        font-size: 1.2rem;
        font-weight: 300;
        
        a{
            text-decoration: none;
            color: inherit;
            position: relative;

            &::after{
                content: "";
                width: 0%;
                background: $text-gradient;
                height: 2px;
                position: absolute;
                bottom: -5px;
                left: 0;
                transition: .3s all ease-in-out;
            }
    
            &:hover{
    
    
                &::after{
                    content: "";
                    width: 100%;
                    transition: .3s all ease-in-out;
                }
            }
        }
    }
}

.hide{
    display: none;
}


@media(max-width: 900px){
    .nav-container{
        display: none;
    }

    .nav-container-mobile{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-deep;
        height: 100%;
        img{
            height: 40px;
            cursor: pointer;
        }

        li{
            color: $white;
            list-style: none;
            transform: scale(2);
            cursor: pointer;
        }
    }

    .mobile-ul{
        display: flex;
        top: 110px;
        position: fixed;
        width: 100%;
        height: 220px;
        background: $bg-deep;
        left: 0;
        z-index: 999;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        transform: translateY(-320px);
        transition: all .5s ease-in-out;
        z-index: -1;
        li {
            width: fit-content; 
            margin-top: 1.5rem;
            a{
                color: $white;
                text-decoration: none;
            }
        }
    }

    .shown{
        transform: translateY(0px);
        transition: all .5s ease-in-out;
    }
}