//BLUES

$bg-main: #141d35;

$bg-deep: #0B1426;

$bg-light2: #003f5f;

$bg-light: #122640;

$bg-mid: #0b284d;

$bg-mid2: #122640;

$text-gradient: linear-gradient(298deg,#00eaff,#006fff 99%,#2382ff);

$text-blue: #4194ec;

//OTHER

$white: #fbfbfb;

$dimmed-white: #A0A9BE;

$dimmed-text-white: #b6b6b6;

$dimmed-white-trans: #a0a9be80;

$visible-grey: #1b232d;

$darker-grey: #0d1217;

//Not currently used...

$nav-main: #0f051d;